#searchButton {
    margin-left: 0.3125rem;
    margin: 0.625rem;
    border-radius: 5px;
    padding: 0.625rem;
    background-color: #27374D;
    border: 0;
    color: #DDE6ED;
}

#searchButton:hover {
    background-color: #9DB2BF;
    color: #27374D;
}

#searchButton:active {
    background-color: #DDE6ED;
}

#searchBar {
    height: 1.875rem;
    width: 9.375rem;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
}