.App {
  text-align: center;
}

h1 {
  color: #DDE6ED;
  text-shadow: black 0px 0px 2px;
}

.hidden {
  display: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.625rem;
}

#searchbar {
  grid-column: 1 / span 2;
}