.App {
  text-align: center;
}

h1 {
  color: #DDE6ED;
  text-shadow: black 0px 0px 2px;
}

.hidden {
  display: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.125rem 4fr;
  justify-items: center;
}

#searchbar {
  grid-column: 1 / span 2;
}